@model RedHill.SalesInsight.Web.Html5.Models.CompanyView

@{
    ViewBag.Title = "Company Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-head">
    @if (Model.CompanyId > 0)
    {
        <h2>Update @Model.Name</h2>
    }
    else
    {
        <h2>Create New Company</h2>
    }
    <ol class="breadcrumb">
        <li><a href="/Home/Index">Home</a></li>
        <li class="active">Company</li>
    </ol>
</div>
<div class="cl-mcont">
    <div class="block-flat">
        @using (Html.BeginForm("UpdateCompany", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.CompanyId, new { @class = "form-control" })

                <div class="form-group">
                    <div class="control-label col-md-2">
                        @Html.LabelFor(model => model.Name)
                    </div>

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "help-inline" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2">
                        @Html.LabelFor(model => model.Licence)
                    </div>

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Licence, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Licence, string.Empty, new { @class = "help-inline" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <input type="submit" value="@(Model.CompanyId > 0 ? "Update" : "Create")" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $.validator.setDefaults({
            highlight: function (element) {
                $(element).closest(".control-group").addClass("error");
            },
            unhighlight: function (element) {
                $(element).closest(".control-group").removeClass("error");
            }
        });
    </script>
}



