@model RedHill.SalesInsight.Web.Html5.Models.ReportFilter

@{
    ViewBag.Title = "Won/Lost Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.UsingDatePicker = true;
    ViewBag.UsingChartJs = true;
    ViewBag.UsingDataTable = true;
}
<style>
    .tooltip-inner {
        white-space: pre-wrap;
    }

    .lost-tooltip {
        display: inline-flex;
    }

        .lost-tooltip > i {
            margin-top: 3px;
        }
</style>
<div class="page-head">
    <h2>Won/Lost Report</h2>
    <ol class="breadcrumb">
        <li><a href="/Home/Index">Home</a></li>
        <li><a href="/Reports/Index">Reports</a></li>
        <li class="active">Won/Lost</li>
    </ol>
</div>
<div class="cl-mcont">
    <div class="noPrint">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            <i class="glyphicon glyphicon-record"></i>
                            Modify Filters
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body wonlossFilter">
                        @Html.Partial("~/Views/Partials/_WonLossReport.cshtml", Model)
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <button class="btn btn-default print_btn">
                <i class="glyphicon glyphicon-print"></i>
                Print
            </button>
        </div>
    </div>
    <div class="col-md-12 panel-body">
        <div class="block-flat">
            <div class="col-md-3">
                <img src="/home/logo" height="50px" />
            </div>
            <div class="pull-right">
                <p>
                    Won / Lost Report
                </p>
                @if (Model.FilterByBidDate)
                {
                    <p>
                        Bid Date : @(Model.BidDateBegin.HasValue ? Model.BidDateBegin.Value.ToString("M/d/yyyy") : "") - @(Model.BidDateEnd.HasValue ? Model.BidDateEnd.Value.ToString("M/d/yyyy") : "")
                    </p>
                }
                @if (Model.FilterByStartDate)
                {
                    <p>
                        Start Date : @(Model.StartDateBegin.HasValue ? Model.StartDateBegin.Value.ToString("M/d/yyyy") : "") - @(Model.StartDateEnd.HasValue ? Model.StartDateEnd.Value.ToString("M/d/yyyy") : "")
                    </p>
                }
                @if (Model.FilterByWLDate)
                {
                    <p>
                        Won/Lost Date : @(Model.WLDateBegin.HasValue ? Model.WLDateBegin.Value.ToString("M/d/yyyy") : "") - @(Model.WLDateEnd.HasValue ? Model.WLDateEnd.Value.ToString("M/d/yyyy") : "")
                    </p>
                }
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="block-flat">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Market Share Summary</div>
                    </div>
                    <div class="panel-body">
                        <div id="marketShareSummary"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Sales Professional Summary</div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-condensed table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="right">Won</th>
                                    <th class="right">Lost</th>
                                    <th class="right">Won Percentage</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (RedHill.SalesInsight.DAL.DataTypes.SIProjectSuccessSalesStaffSummary staff in ViewBag.SalesStaffs)
                                {
                                    <tr class="@(staff.Name == "Total" ? "bold" : "")">
                                        <td>@staff.Name</td>
                                        <td class="right">@staff.VolumeSold.ToString("###,###")</td>
                                        <td class="right">@staff.VolumeLost.ToString("###,###")</td>
                                        <td class="right">@((staff.VolumeSold * 1.0 / (staff.VolumeLost + staff.VolumeSold) * 100.00).ToString("N2"))%</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Major Job Summary</div>
                    </div>
                    <div class="panel-body report">
                        <table class="table tbl-summary table-striped table-responsive table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th>Customer</th>
                                    <th>Project</th>
                                    <th>Plant</th>
                                    <th>Sales Staff</th>
                                    <th>Volume</th>
                                    <th>Bid Winner</th>
                                    <th>Mix</th>
                                    <th>Price</th>
                                    <th>Price Lost</th>
                                    <th>Bid</th>
                                    <th>W/L Date</th>
                                    <th>Start</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (RedHill.SalesInsight.DAL.DataTypes.SIProjectSuccessMajorJobSummary job in ViewBag.MajorJobs)
                                {
                                    <tr class="@(job.CustomerName == "Total" ? "bold" : "")">
                                        <td>@job.CustomerName</td>
                                        <td>@job.ProjectName</td>
                                        <td>@job.PlantName</td>
                                        <td>@job.SalesStaffName</td>
                                        <td class="right">@(job.Volume.HasValue ? job.Volume.Value.ToString("###,###") : "")</td>
                                        <td class="right">@job.CompetitorNamesList</td>
                                        <td class="right">@job.MixName</td>
                                        <td class="right">@(job.MixPrice.HasValue ? "$" + job.MixPrice.Value.ToString("N2") : "")</td>
                                        <td class="right">
                                            <div class="lost-tooltip">
                                                @(job.PriceLost.HasValue ? "$" + job.PriceLost.Value.ToString("N2") : "")
                                                @if (job.PriceLost.HasValue && (!string.IsNullOrEmpty(job.ReasonForLost) || !string.IsNullOrEmpty(job.NotesOnLost)))
                                                {
                                                    if ((!string.IsNullOrEmpty(job.ReasonForLost) && !string.IsNullOrEmpty(job.NotesOnLost)))
                                                    {
                                                        <i class='fa fa-info-circle' data-toggle="tooltip" title="@(!string.IsNullOrEmpty(job.ReasonForLost)?"Reason Lost : "+job.ReasonForLost:"")&#013;&#013;@(!string.IsNullOrEmpty(job.NotesOnLost) ? "Notes : " + job.NotesOnLost : "")" aria-hidden='true'></i>
                                                    }
                                                    else
                                                    {
                                                        <i class='fa fa-info-circle' data-toggle="tooltip" title="@(!string.IsNullOrEmpty(job.ReasonForLost)?"Reason Lost : "+job.ReasonForLost:"")@(!string.IsNullOrEmpty(job.NotesOnLost) ? "Notes : " + job.NotesOnLost : "")" aria-hidden='true'></i>
                                                    }
                                                }
                                            </div>
                                        </td>
                                        <td class="right">@(job.BidDate.HasValue ? job.BidDate.Value.ToString("M/d/yyyy") : "")</td>
                                        <td class="right">@(job.WonLostDate.HasValue ? job.WonLostDate.Value.ToString("M/d/yyyy") : "")</td>
                                        <td class="right">@(job.StartDate.HasValue ? job.StartDate.Value.ToString("M/d/yyyy") : "")</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr class="bold even">
                                    <td class=" sorting_1">Total</td>
                                    <td class=""></td>
                                    <td class=""></td>
                                    <td class=""></td>
                                    <td class="right">@((ViewBag.Volume).ToString("#,##0"))</td>
                                    <td class="right"></td>
                                    <td class="right"></td>
                                    <td class="right">$@ViewBag.MixPrice</td>
                                    <td class="right">$@ViewBag.TotalPriceLost</td>
                                    <td class="right"></td>
                                    <td class="right"></td>
                                    <td class="right"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <style type="text/css">
        @@media print {
            .noPrint {
                display: none;
            }
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({ html: true });

            $('.tbl-summary').dataTable({
                "bFilter": false,
                "bInfo": false,
                "bPaginate": false,
                "aaSorting": []
            });

            $(".print_btn").click(function () {
                $("#Print").val("Print");
                $("form").attr("target", "_blank");
                $("form").not("#support_request_form").submit();
                $("#Print").val("");
                $("form").attr("target", "_self");
            });

            function drawChart() {
                var data = google.visualization.arrayToDataTable(
                    @(Html.Raw(ViewBag.Summaries))
                    );

                var formatter = new google.visualization.NumberFormat({ pattern: '###,###' });
                formatter.format(data, 1);

                var options = {
                    title: '',
                    height: 400,
                    chartArea: { left: 20, width: 400 },
                    legend: { position: "right", maxlines: 3 }
                };

                var chart = new google.visualization.PieChart(document.getElementById('marketShareSummary'));
                chart.draw(data, options);
            }
            google.setOnLoadCallback(drawChart);

            $('.datepicker').datepicker({ format: "m/d/yyyy" }).on("changeDate", function (ev) {
                $("div.datepicker").hide();
            });

            $(".disable").find("input[type='text']").each(function (index, item) {
                $(this).prop("disabled", true);
            });

            controlList = ["BidDate", "StartDate", "WLDate"];
            $(controlList).each(function (index, item) {
                $(".salesFilter  #FilterBy" + item).change(function () {
                    active = $(this).is(":checked");
                    $(this).parents(".row").first().find("#" + item + "Begin").prop("disabled", !active);
                    $(this).parents(".row").first().find("#" + item + "End").prop("disabled", !active);
                });

                $(".wonlossFilter  #FilterBy" + item).change(function () {
                    active = $(this).is(":checked");
                    $(this).parents(".row").first().find("#" + item + "Begin").prop("disabled", !active);
                    $(this).parents(".row").first().find("#" + item + "End").prop("disabled", !active);
                });
            });

            ScrubDistricts();
            ScrubPlants();
            ScrubSalesStaffs();

            $(".wonlossFilter input[name='Regions']").change(function () {
                ScrubDistricts();
            });

            $(".wonlossFilter input[name='Districts']").change(function () {
                ScrubPlants();
                ScrubSalesStaffs();
            });

            function ScrubDistricts() {
                regions = getCheckedValues(".wonlossFilter input[name='Regions']");
                queryString = "";
                $(regions).each(function (i, x) {
                    queryString += "&ParentIds=" + x;
                });
                if (queryString != "") {
                    $.get("/Json/GetStructureList?StructureType=DISTRICT" + queryString, function (data) {
                        if (data != "NOK") {
                            districts = eval(data);
                            $(".wonlossFilter input[name='Districts']").each(function (i, x) {
                                id = parseInt($(x).val());
                                if (districts.indexOf(id) == -1) {
                                    $(x).prop("checked", false);
                                    $(x).prop("disabled", true);
                                    $(x).parent().parent().css("display", "none");
                                } else {
                                    $(x).prop("disabled", false);
                                    $(x).parent().parent().css("display", "block");
                                }
                            });
                        }
                        ScrubPlants();
                        ScrubSalesStaffs();
                    });
                } else {
                    $(".wonlossFilter input[name='Districts']").each(function (i, x) {
                        $(x).prop("checked", false);
                        $(x).prop("disabled", true);
                        $(x).parent().parent().css("display", "none");
                    });
                    ScrubPlants();
                    ScrubSalesStaffs();
                }
            }

            function ScrubPlants() {
                regions = getCheckedValues(".wonlossFilter input[name='Districts']");
                queryString = "";
                $(regions).each(function (i, x) {
                    queryString += "&ParentIds=" + x;
                });
                if (queryString != "") {
                    $.get("/Json/GetStructureList?StructureType=PLANT" + queryString, function (data) {
                        if (data != "NOK") {
                            districts = eval(data);
                            $(".wonlossFilter input[name='Plants']").each(function (i, x) {
                                id = parseInt($(x).val());
                                if (districts.indexOf(id) == -1) {
                                    $(x).prop("checked", false);
                                    $(x).prop("disabled", true);
                                    $(x).parent().parent().css("display", "none");
                                } else {
                                    $(x).prop("disabled", false);
                                    $(x).parent().parent().css("display", "block");
                                }
                            });
                        }
                    });
                } else {
                    $(".wonlossFilter input[name='Plants']").each(function (i, x) {
                        $(x).prop("checked", false);
                        $(x).prop("disabled", true);
                        $(x).parent().parent().css("display", "none");
                    });
                }
            }

            function ScrubSalesStaffs() {
                regions = getCheckedValues(".wonlossFilter input[name='Districts']");
                queryString = "";
                $(regions).each(function (i, x) {
                    queryString += "&ParentIds=" + x;
                });
                if (queryString != "") {
                    $.get("/Json/GetStructureList?StructureType=SALES_STAFF" + queryString, function (data) {
                        if (data != "NOK") {
                            districts = eval(data);
                            $(".wonlossFilter input[name='Staffs']").each(function (i, x) {
                                id = parseInt($(x).val());
                                if (districts.indexOf(id) == -1) {
                                    $(x).prop("checked", false);
                                    $(x).prop("disabled", true);
                                    $(x).parent().parent().css("display", "none");
                                } else {
                                    $(x).prop("disabled", false);
                                    $(x).parent().parent().css("display", "block");
                                }
                            });
                        }
                    });
                } else {
                    $(".wonlossFilter input[name='Staffs']").each(function (i, x) {
                        $(x).prop("checked", false);
                        $(x).prop("disabled", true);
                        $(x).parent().parent().css("display", "none");
                    });
                }
            }

            function getCheckedValues(selector) {
                values = [];
                $(selector + ":checked").each(function (index, item) {
                    values.push($(item).val());
                });
                return values;
            }
        });
    </script>
}