@model RedHill.SalesInsight.Web.Html5.Models.CompanyView

<table id="customer_table" class="data_table table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Address 1</th>
            <th>Address 2</th>
            <th>Address 3</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (RedHill.SalesInsight.Web.Html5.Models.CustomerView customer in Model.Customers)
        {
            <tr>
                <td>@customer.Name</td>
                <td>@customer.Number</td>
                <td>@customer.Address1</td>
                <td>@customer.Address2</td>
                <td>@customer.Address3</td>
                <td>@customer.City</td>
                <td>@customer.State</td>
                <td>@customer.Zip</td>
                <td>@{
            if (@customer.Active)
            {
                    <span class="glyphicon glyphicon-ok">
                        <span style="display:none">1</span>
                    </span>
            }
            else
            {
                    <span class="glyphicon glyphicon-remove"></span>
            }
                }
                </td>
                <td>
                        <a href="/Home/EditCustomer/@customer.CustomerId" class="btn btn-xs btn-primary">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                </td>
            </tr>
        }
    </tbody>
</table>
